# Python
__pycache__/
*.pyc
*.pyo

# Выходные данные (игнорируем содержимое, но не папки)
output_json/*
!output_json/.gitkeep
output_excel/*
!output_excel/.gitkeep
logs/*
!logs/.gitkeep

# Входные данные (игнорируем содержимое, но не папку и не .gitkeep)
input_docs/*
!input_docs/.gitkeep

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
